<ion-header>
  <ion-navbar primary>
    <ion-title>Make Payment</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="pay">
  <div class="row" *ngIf="!ask_card">
    <p class="text-center">
      <img src="images/piggy_bank.svg"  />

    </p>
    <h2 class="text-center">
      Choose your savings...
    </h2>
    <div class="text-center" padding>
      <h3 class="text-center">
        Pay 1.5x more and you'll get back 50% in 60 days
      </h3>
      <button large primary block round (click)="ask_payment('1')">
        <ion-icon ios="ios-card" md="md-card"></ion-icon>
        Pay {{total * 1.5 | currency:'USD':true:'1.2-2'}}
      </button>
    </div>
    <div class="text-center" padding>
      <h3 class="text-center">
        Pay 2x more and you'll get back 60% in 60 days
      </h3>
      <button large secondary block round (click)="ask_payment('2')">
        <ion-icon ios="ios-card" md="md-card"></ion-icon>
        Pay {{total * 3 | currency:'USD':true:'1.2-2'}}
      </button>
    </div>
    <div class="text-center" padding>
      <h3 class="text-center">
        Pay 2.5x more and you'll get back 70% in 45 days
      </h3>
      <button large primary block round (click)="ask_payment('3')">
        <ion-icon ios="ios-card" md="md-card"></ion-icon>
        Pay {{total * 2.5 | currency:'USD':true:'1.2-2'}}
      </button>
    </div>
    <div class="text-center" padding>
      <h3 class="text-center">
        Pay 3x more and you'll get back 80% in 45 days
      </h3>
      <button large secondary block round (click)="ask_payment('4')">
        <ion-icon ios="ios-card" md="md-card"></ion-icon>
        Pay {{total * 3 | currency:'USD':true:'1.2-2'}}
      </button>
    </div>
    <div class="text-center" padding>
      <h3 class="text-center">
        Pay the regular price
      </h3>
      <button large primary block round (click)="ask_payment('5')">
        <ion-icon ios="ios-card" md="md-card"></ion-icon>
        Pay ${{total}}
      </button>
    </div>


  </div>
  <ion-list *ngIf="ask_card==1">
    <p class="text-center">
      <img src="images/mastercard.svg"  />
    </p>
      <h4 class="text-center">
        total: {{pay_total | currency:'USD':true:'1.2-2'}}
      </h4>
    <ion-grid>
      <form action="" method="POST" id="payment-form">
        <ion-row>
            <ion-col width-100>
              <ion-item>
              <ion-label floating>Amount</ion-label>
              <ion-input type="text" value="${{amount_cash}}" disabled></ion-input>
            </ion-item>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col width-100>
              <ion-item>
              <ion-label floating>Card Number</ion-label>
              <ion-input [(ngModel)]="cardNumber" name="card-number" type="number"></ion-input>
            </ion-item>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col width-50>
              <ion-item padding>
                <ion-label floating>Exp Month</ion-label>
                <ion-input [(ngModel)]="expiryMonth" name="expiry-month" type="number"></ion-input>
              </ion-item>
             </ion-col>
            <ion-col width-50>
              <ion-item padding>
                <ion-label floating>Exp Year</ion-label>
                <ion-input [(ngModel)]="expiryYear" name="expiry-year" type="number"></ion-input>
              </ion-item>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col width-100>
              <ion-item>
              <ion-label floating>CVC</ion-label>
              <ion-input [(ngModel)]="cvc" name="cvc" type="number" size="4"></ion-input>
            </ion-item>
            </ion-col>
        </ion-row>
      </form>
      <ion-row>
        <ion-col width-100>
          <button block primary style="padding:23px" (click)="pay()">
            <ion-icon name="checkbox"></ion-icon>
            Make Payment
          </button>
          <p class="text-center">{{message}}</p>

        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-list>
</ion-content>
