<ion-header>
  <ion-navbar primary>
    <ion-title text-center padding><img src="images/logo.svg"/></ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="home">
  <div class="row text-center" padding style="margin-top:53px" *ngIf="!show_how && !show_login">
    <img src="images/shop_local.svg"/>
  </div>
  <div class="row text-center" padding  *ngIf="!show_how && !show_login">
    <img src="images/calender.svg"/>
  </div>
  <div class="row text-center" padding  *ngIf="!show_how && !show_login">
    <img src="images/piggy_bank.svg"/>
  </div>
  <div class="row text-center" padding  *ngIf="!show_how && !show_login">
    <p class="text-center">
      <button large secondary block round (click)="show_how=1">
        <ion-icon ios="ios-help" md="md-help"></ion-icon>
        How This Works
      </button>
    </p>
    <p class="text-center">
      <button large secondary block round (click)="show_login=1">
        <ion-icon ios="ios-log-in" md="md-log-in"></ion-icon>
         Sign up/login
      </button>
    </p>
  </div>
  <div class="row text-center" padding  *ngIf="show_how==1" style="margin-top:53px">
    <h3 class="text-center">
      How this works
    </h3>
  </div>
  <div class="row text-center" padding  *ngIf="show_how==1">
    <p class="text-center">
      <button large secondary block round (click)="show_how=''">
        <ion-icon ios="ios-arrow-back" md="md-arrow-back"></ion-icon>
        Back
      </button>
    </p>
  </div>
  <div class="row text-center" padding  *ngIf="show_login==1" style="margin-top:53px">
    <h3 class="text-center">
      Login/Sign up
    </h3>
  </div>
  <div class="row text-center" padding  *ngIf="show_login==1">
      <ion-grid style="margin-top:7px">
        <ion-row class="text-center" style="min-height:33px">
          <ion-col width-25> <b>{{passcode.substring(0, 1)}}</b></ion-col>
          <ion-col width-25> <b>{{passcode.substring(1, 2)}}</b></ion-col>
          <ion-col width-25> <b>{{passcode.substring(2, 3)}}</b></ion-col>
          <ion-col width-25> <b>{{passcode.substring(3, 4)}}</b></ion-col>
        </ion-row>
      </ion-grid>
    <div style="margin-top: 7px">
      <div class="text-center">
        Enter Your Pin
      </div>
      <ion-grid>
        <ion-row>
          <ion-col width-33>
             <button block secondary large (click)="add(1)">1</button>
          </ion-col>
          <ion-col width-33>
            <button block secondary large (click)="add(2)">2</button>
          </ion-col>
          <ion-col width-33>
            <button block secondary large (click)="add(3)">3</button>
          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-grid>
        <ion-row>
          <ion-col width-33>
             <button block secondary large (click)="add(4)">4</button>
          </ion-col>
          <ion-col width-33>
            <button block secondary large (click)="add(5)">5</button>
          </ion-col>
          <ion-col width-33>
            <button block secondary large (click)="add(6)">6</button>
          </ion-col>
        </ion-row>
    </ion-grid>
    <ion-grid>
      <ion-row>
        <ion-col width-33>
           <button block secondary large (click)="add(7)">7</button>
        </ion-col>
        <ion-col width-33>
          <button block secondary large (click)="add(8)">8</button>
        </ion-col>
        <ion-col width-33>
          <button block secondary large (click)="add(9)">9</button>
        </ion-col>
      </ion-row>
    </ion-grid>
    <div class="row text-center">
      <button secondary block round clear (click)="delete()">
        <ion-icon name="ios-arrow-back-outline"></ion-icon>
        Delete
      </button>
    </div>
      <div class="row text-center" padding>
        <button block secondary (click)="login()" style="padding:33px">
          <ion-icon name="phone-portrait"></ion-icon>
          Login
        </button>
        <p class="text-center">{{login_message}}</p>
        <p class="text-center" style="font-size:10px">
          New members the pin you enter will be your new pin
        </p>
      </div>
    </div>


    <p class="text-center">
      <button large clear block round (click)="show_login=''">
        <ion-icon ios="ios-arrow-back" md="md-arrow-back"></ion-icon>
        Back
      </button>
    </p>
  </div>
</ion-content>
