<ion-header>
  <ion-navbar primary>
    <ion-title text-center padding><img src="images/logo.svg"/></ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="home">
  <div class="row text-center" padding style="margin-top:53px" *ngIf="!show_how && !show_login">
    <img src="images/shop_local.svg"/>
  </div>
  <div class="row text-center" padding  *ngIf="!show_how && !show_login">
    <img src="images/calender.svg"/>
  </div>
  <div class="row text-center" padding  *ngIf="!show_how && !show_login">
    <img src="images/piggy_bank.svg"/>
  </div>
  <div class="row text-center" padding  *ngIf="!show_how && !show_login">
    <p class="text-center">
      <button large secondary block round (click)="show_how=1">
        <ion-icon ios="ios-help" md="md-help"></ion-icon>
        How This Works
      </button>
    </p>
    <p class="text-center">
      <button large secondary block round (click)="show_login=1">
        <ion-icon ios="ios-log-in" md="md-log-in"></ion-icon>
         Sign up/login
      </button>
    </p>
  </div>
  <div class="row text-center" padding  *ngIf="show_how==1" style="margin-top:53px">
    <h3 class="text-center">
      How this works
    </h3>
  </div>
  <div class="row text-center" padding  *ngIf="show_how==1">
    <p class="text-center">
      <button large secondary block round (click)="show_how=''">
        <ion-icon ios="ios-arrow-back" md="md-arrow-back"></ion-icon>
        Back
      </button>
    </p>
  </div>
  <div class="row text-center" padding  *ngIf="show_login==1" style="margin-top:53px">
    <h3 class="text-center">
      Login/Sign up
    </h3>
  </div>
  <div class="row text-center" padding  *ngIf="show_login==1">
    <div class="row" padding>
      <h3 class="text-center">
        <strong>I'm a shopper</strong>
      </h3>
      <button large secondary block round (click)="loginFB('1')">
        <ion-icon ios="logo-facebook" md="logo-facebook"></ion-icon>
        Facebook
      </button>
    </div>
    <div class="row" padding>
      <h3 class="text-center">
        <strong>I'm a small business</strong>
      </h3>
      <button large dark block round (click)="loginFB('2')">
        <ion-icon ios="logo-facebook" md="logo-facebook"></ion-icon>
        Facebook
      </button>
    </div>


    <p class="text-center">
      <button large clear block round (click)="show_login=''">
        <ion-icon ios="ios-arrow-back" md="md-arrow-back"></ion-icon>
        Back
      </button>
    </p>
  </div>
</ion-content>
