<ion-header>
  <ion-navbar primary>
    <ion-title text-center padding>Business Tools</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="business">

  <div class="row text-center" padding style="margin-top:23px" *ngIf="!add_item && !view_inventory">
    <p class="text-center">
      <ion-icon ios="ios-cog" md="md-cog" style="font-size:43px" primary></ion-icon>
    </p>

    <p class="text-center">
      <button large secondary block round (click)="offer_deal()">
        <ion-icon ios="ios-pricetag" md="md-pricetag"></ion-icon>
        Offer Daily Deal
      </button>
    </p>
    <p class="text-center">
      <button large secondary block round (click)="add_item=1">
        <ion-icon ios="ios-add-circle" md="md-add-circle"></ion-icon>
        Add Item
      </button>
    </p>
    <p class="text-center">
      <button large secondary block round (click)="view_inventory=1">
        <ion-icon ios="ios-list" md="md-list"></ion-icon>
        View Inventory
      </button>
    </p>
  </div>

  <div class="row text-center" padding style="margin-top:23px" *ngIf="add_item==1">
    <h2 class="text-center">
      Add item(s)
    </h2>
    <p class="text-center" *ngIf="!product_name">
      <button large secondary block round (click)="scan()">
        <ion-icon ios="ios-barcode" md="md-barcode"></ion-icon>
        Scan barcode
      </button>
    </p>
    <p class="text-center" *ngIf="product_name">
      <img src="{{product_image}}" />
    </p>
    <h4 class="text-center" *ngIf="product_name">
      {{product_name}}
    </h4>
    <h4 class="text-center" *ngIf="product_name">
      total in inventory: {{inventory_count}}
    </h4>
    <ion-item *ngIf="product_name">
      <ion-label floating>Price</ion-label>
      <ion-input type="number" [(ngModel)]="form.price" autocomplete="off" autocorrect="off" autocapitalize="off"></ion-input>
    </ion-item>

    <ion-item *ngIf="product_name">
      <ion-label floating>Total count</ion-label>
      <ion-input type="number" [(ngModel)]="form.total" autocomplete="off" autocorrect="off" autocapitalize="off"></ion-input>
    </ion-item>
    <p class="text-center" *ngIf="product_name">
      <button large secondary block round (click)="add()">
        <ion-icon ios="ios-thumbs-up" md="md-thumbs-up"></ion-icon>
        Add/Update Item
      </button>
    </p>
    <p class="text-center" *ngIf="product_name">
      <button large clear block round (click)="add_item=''">
        <ion-icon ios="ios-arrow-back" md="md-arrow-back"></ion-icon>
        back
      </button>
    </p>

  </div>

</ion-content>
